## Optimize the Model

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [5]:
#value counts for status column (to be dropped)
application_df["STATUS"].value_counts()

1    34294
0        5
Name: STATUS, dtype: int64

In [6]:
#value counts for status column (to be dropped)
application_df["SPECIAL_CONSIDERATIONS"].value_counts()

N    34272
Y       27
Name: SPECIAL_CONSIDERATIONS, dtype: int64

SATUS AND SPECIAL CONSIDERATIONS CAN BE DROPPED SINCE there are small percentage of projects that are in the minority categories

In [7]:
# Drop the non-beneficial EIN column
application_df = application_df.drop(["EIN"], 1)
application_df = application_df.drop(["STATUS"], 1)
application_df = application_df.drop(["SPECIAL_CONSIDERATIONS"], 1)
application_df.head(2)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  after removing the cwd from sys.path.

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,0,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1-9999,108590,1

In [9]:
# display the number of unique values

application_df.nunique()

NAME                19568
APPLICATION_TYPE       17
AFFILIATION             6
CLASSIFICATION         71
USE_CASE                5
ORGANIZATION            4
INCOME_AMT              9
ASK_AMT              8747
IS_SUCCESSFUL           2
dtype: int64

In [13]:
# Look at NAME value counts for binning
application_counts = application_df["APPLICATION_TYPE"].value_counts()
application_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [14]:
# Look at NAME value counts for binning
name_counts = application_df["NAME"].value_counts()
#  How many name counts are greater than 5?
name_counts[name_counts > 5]

PARENT BOOSTER USA INC                             1260
TOPS CLUB INC                                       765
UNITED STATES BOWLING CONGRESS INC                  700
WASHINGTON STATE UNIVERSITY                         492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC     408
                                                   ...
OLD OAK CLIFF CONSERVATION LEAGUE INC                 6
AMERICAN NEPHROLOGY NURSES ASSOCIATION                6
HUMBLE ISD EDUCATIONAL SUPPORT GROUPS INC             6
PROFESSIONAL LOADMASTER ASSOCIATION                   6
CBMC INC                                              6
Name: NAME, Length: 354, dtype: int64

In [15]:
# Determine which values to replace if counts are less than or equal to 5.
names_to_replace = list(name_counts[name_counts <= 5].index)

# Replace in dataframe
for app in names_to_replace:
  application_df['NAME'] = application_df['NAME'].replace(app,"Other")

# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                           20043
PARENT BOOSTER USA INC                           1260
TOPS CLUB INC                                     765
UNITED STATES BOWLING CONGRESS INC                700
WASHINGTON STATE UNIVERSITY                       492
                                                ...
HABITAT FOR HUMANITY INTERNATIONAL                  6
DAMAGE PREVENTION COUNCIL OF TEXAS                  6
FLEET RESERVE ASSOCIATION                           6
HUGH OBRIAN YOUTH LEADERSHIP                        6
INTERNATIONAL CONGRESS OF CHURCHES MINISTERS        6
Name: NAME, Length: 355, dtype: int64

In [16]:
# Look at APPLICATION_TYPE value counts for binning
application_counts = application_df["APPLICATION_TYPE"].value_counts()
application_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [17]:
# Determine which values to replace if application counts are less than 500
application_types_to_replace = list(application_counts[application_counts < 500].index)

# Replace in dataframe
for app in application_types_to_replace:
  application_df['APPLICATION_TYPE']= application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [18]:
# Look at CLASSIFICATION value counts for binning
class_counts = application_df['CLASSIFICATION'].value_counts()
class_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [20]:
# Determine which values to replace if counts are less than 1000
classifications_to_replace = list(class_counts[class_counts < 1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [22]:
# Generate our categorical variable lists
application_cat = application_df.dtypes[application_df.dtypes == "object"].index.tolist()
application_cat

['NAME',
 'APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT']

In [23]:
# perform one-hot encoding on the data
application_with_dummies_df = pd.get_dummies(application_df)
application_with_dummies_df.head(3)

,ASK_AMT,IS_SUCCESSFUL,NAME_AACE INTERNATIONAL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_AFRICAN-AMERICAN POSTAL LEAGUE UNITED FOR SUCCESS A-PLUS,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,NAME_ALABAMA TREASURE FOREST ASSOCIATION,NAME_ALBANY STATE UNIVERSITY NATIONAL ALUMNI ASSOCIATION,NAME_ALPHA PHI OMEGA,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,5000,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,108590,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,5000,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [24]:
# Split our preprocessed data into our features and target arrays
x = application_with_dummies_df.drop(["IS_SUCCESSFUL"], axis='columns').values
y = application_with_dummies_df["IS_SUCCESSFUL"].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(x, y)

In [25]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [26]:
# Define the model - deep neural net
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  100
hidden_nodes_layer2 = 30
hidden_nodes_layer3 = 10

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="sigmoid"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="sigmoid"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 100)               39600

 dense_1 (Dense)             (None, 30)                3030

 dense_2 (Dense)             (None, 10)                310

 dense_3 (Dense)             (None, 1)                 11

=================================================================
Total params: 42,951
Trainable params: 42,951
Non-trainable params: 0
_________________________________________________________________

In [29]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [30]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 5s 4ms/step - loss: 0.4976 - accuracy: 0.7697
Epoch 2/100
804/804 [==============================] - 4s 4ms/step - loss: 0.4433 - accuracy: 0.7942
Epoch 3/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4343 - accuracy: 0.7969
Epoch 4/100
804/804 [==============================] - 4s 4ms/step - loss: 0.4296 - accuracy: 0.7972
Epoch 5/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4270 - accuracy: 0.7993
Epoch 6/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4238 - accuracy: 0.7991
Epoch 7/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4222 - accuracy: 0.7992
Epoch 8/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4215 - accuracy: 0.7996
Epoch 9/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4196 - accuracy: 0.8018
Epoch 10/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4190 - accuracy: 0.8008
Epoch 11/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4184 - accuracy: 0.8002
Epoch 12/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4175 - accuracy: 0.8006
Epoch 13/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4169 - accuracy: 0.8021
Epoch 14/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4159 - accuracy: 0.8026
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4156 - accuracy: 0.8026
Epoch 16/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4150 - accuracy: 0.8022
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4142 - accuracy: 0.8025
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4138 - accuracy: 0.8027
Epoch 19/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4131 - accuracy: 0.8025
Epoch 20/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4130 - accuracy: 0.8028
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4122 - accuracy: 0.8029
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4123 - accuracy: 0.8028
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4116 - accuracy: 0.8034
Epoch 24/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4112 - accuracy: 0.8033
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4103 - accuracy: 0.8040
Epoch 26/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4100 - accuracy: 0.8033
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4099 - accuracy: 0.8043
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4094 - accuracy: 0.8044
Epoch 29/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4090 - accuracy: 0.8043
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4083 - accuracy: 0.8057
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4081 - accuracy: 0.8047
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4083 - accuracy: 0.8055
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4078 - accuracy: 0.8051
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4074 - accuracy: 0.8052
Epoch 35/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4073 - accuracy: 0.8059
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4071 - accuracy: 0.8051
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4069 - accuracy: 0.8050
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4062 - accuracy: 0.8064
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4062 - accuracy: 0.8057
Epoch 40/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4061 - accuracy: 0.8060
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4052 - accuracy: 0.8063
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4052 - accuracy: 0.8066
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4051 - accuracy: 0.8067
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4049 - accuracy: 0.8068
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4047 - accuracy: 0.8066
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4043 - accuracy: 0.8070
Epoch 47/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4045 - accuracy: 0.8062
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4042 - accuracy: 0.8067
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4049 - accuracy: 0.8067
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4037 - accuracy: 0.8071
Epoch 51/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4040 - accuracy: 0.8070
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4032 - accuracy: 0.8073
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4037 - accuracy: 0.8067
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4034 - accuracy: 0.8068
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4034 - accuracy: 0.8071
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4028 - accuracy: 0.8075
Epoch 57/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4024 - accuracy: 0.8071
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4027 - accuracy: 0.8077
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4024 - accuracy: 0.8082
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4026 - accuracy: 0.8079
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4023 - accuracy: 0.8079
Epoch 62/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4029 - accuracy: 0.8072
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4021 - accuracy: 0.8068
Epoch 64/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4020 - accuracy: 0.8068
Epoch 65/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4025 - accuracy: 0.8075
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4023 - accuracy: 0.8076
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4018 - accuracy: 0.8077
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4016 - accuracy: 0.8069
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4016 - accuracy: 0.8071
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4020 - accuracy: 0.8076
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4022 - accuracy: 0.8072
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4017 - accuracy: 0.8077
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4014 - accuracy: 0.8076
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4018 - accuracy: 0.8077
Epoch 75/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4016 - accuracy: 0.8079
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4016 - accuracy: 0.8080
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4018 - accuracy: 0.8084
Epoch 78/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4015 - accuracy: 0.8078
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4014 - accuracy: 0.8080
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4013 - accuracy: 0.8078
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4009 - accuracy: 0.8083
Epoch 82/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4009 - accuracy: 0.8077
Epoch 83/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4008 - accuracy: 0.8080
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4006 - accuracy: 0.8085
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4006 - accuracy: 0.8083
Epoch 86/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4006 - accuracy: 0.8088
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4002 - accuracy: 0.8080
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4007 - accuracy: 0.8085
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4008 - accuracy: 0.8088
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4010 - accuracy: 0.8082
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4007 - accuracy: 0.8085
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4001 - accuracy: 0.8082
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4008 - accuracy: 0.8077
Epoch 94/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4004 - accuracy: 0.8077
Epoch 95/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4002 - accuracy: 0.8085
Epoch 96/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4001 - accuracy: 0.8086
Epoch 97/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4003 - accuracy: 0.8073
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4007 - accuracy: 0.8081
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4001 - accuracy: 0.8086
Epoch 100/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4002 - accuracy: 0.8078

In [31]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.4537 - accuracy: 0.7879 - 1s/epoch - 5ms/step
Loss: 0.4537058472633362, Accuracy: 0.7878717184066772

In [32]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimization.h5")

USE A RANDOM FOREST CLASSIFIER ON THE DATASET

In [33]:
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier

In [37]:
# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=128, random_state=78)

# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

# Evaluate the model
y_pred = rf_model.predict(X_test_scaled)
print(f"Random forest model accuracy: {accuracy_score(y_test, y_pred)*100:.3f}")

Random forest model accuracy: 77.236